<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<br>
<br>
<p>Make sure you edit you OWN profile page.</p>

{{name}}<br>
{{email}}<br>
{{university}}<br>
{{job}}<br>
{{company}}<br>
{{#skills}}
{{.}}<br>
{{/skills}}
{{phone}}<br>
{{#address}}
{{street_num}}<br>
{{street_name}}<br>
{{city}}<br>
{{state_or_province}}<br>
{{postal_code}}<br>
{{country}}<br>
{{/address}}

    <div class="editProfile">
      <form class="" action="/edit/{{_id}}" method="post">
        <input type="text" name="username" value="{{username}}" placeholder="username">
        <input type="text" name="name" value="{{name}}" placeholder="name">
        <input type="text" name="email" value="{{email}}" placeholder="email">
        <input type="text" name="university" value="{{university}}" placeholder="university">
        <input type="text" name="job" value="{{job}}" placeholder="job">
        <input type="text" name="company" value="{{company}}" placeholder="company">
        <input type="text" name="skills" value="{{skills}}" placeholder="skills">
        <input type="text" name="phone" value="{{phone}}" placeholder="phone">
        <p>Address</p>
        <input type="text" name="streetNum" value="{{street}}" placeholder="street">
        <input type="text" name="streetName" value="{{street-name}}" placeholder="street-name">
        <input type="text" name="state" value="{{state}}" placeholder="state">
        <input type="text" name="city" value="{{city}}" placeholder="city">
        <input type="text" name="zip" value="{{zipCode}}" placeholder="zipCode">
        <input type="text" name="country" value="{{country}}" placeholder="country">
        <button type="submit" name="button">Edit</button>
      </form>

    </div>

  </body>
</html>
