<div class="list">
{{#users}}
<div class="users">



  <h2>{{name}}</h2>
  <h3>{{username}}</h3><br>
  <img src="{{avatar}}"><br>
  <!-- <a href="/edit/{{_id}}"> -->
  <a href="/edit/{{_id}}">edit if you are logged in</a>
  <a href="/view/{{_id}}">Look at my profile</a>

    {{#job}}
    {{job}}
    {{/job}}
    {{^job}}
      Avaliable for hire
    {{/job}}
  </a>
  <br>
</div>
{{/users}}
</div>
