<div class="login">
<p>Log Your Robot Self in here</p>
<form class="" action="/" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="text" name="password" value="" placeholder="password">
  <button type="submit" name="btn">Login!</button>

</form>
</div>
