<p>you got the page to show up!</p>

{{name}}<br>
{{email}}<br>
{{university}}<br>
{{job}}<br>
<img src="{{avatar}}">"<br>
{{company}}<br>
{{#skills}}
{{.}}<br>
{{/skills}}
{{phone}}<br>
{{#address}}
{{street_num}}<br>
{{street_name}}<br>
{{city}}<br>
{{state_or_province}}<br>
{{postal_code}}<br>
{{country}}<br>
{{/address}}





<!-- username: { type: String, unique: true, lowercase: true, required: true },
passwordHash: { type: String, required: true },
name: {type: String},
email: String,
university: String,
job: String,
comapny: String,
skills: [String],
phone: String,
address:{
  street_num: String,
  Street_name: String,
  city: String,
  state_or_province: String,
  postal_code: Number,
  country: String, -->
