<div class="signUp">
<p>Sign Up My Robot Self</p>
<form class="" action="/signup" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="text" name="password" value="" placeholder="password">
  <button type="submit" name="btn">Sign Up!</button>
   <br>
    <input type="text" name="name" value="" placeholder="name">
    <input type="text" name="email" value="" placeholder="email">
    <input type="text" name="university" value="" placeholder="university">
    <br>
    <input type="text" name="job" value="" placeholder="job">
    <input type="text" name="company" value="" placeholder="company">
    <input type="text" name="skills" value="" placeholder="skills">
    <input type="text" name="phone" value="" placeholder="phone">
    <p>Address</p>
    <input type="text" name="streetNum" value="" placeholder="street">
    <input type="text" name="" value="streetName" placeholder="street-name">
    <input type="text" name="state" value="" placeholder="state">
    <input type="text" name="city" value="" placeholder="city">
    <input type="text" name="zip" value="" placeholder="zipCode">
    <input type="text" name="country" value="" placeholder="country">
  </form>

</div>
