body {
  font-family: sans-serif;
  margin: 0;
  body: 0;

}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.users {
  border: solid black 1px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin:10px;
  width: 20%;
align-items: center;
}
